body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #525252;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-brand{
  color: #00DBC3;
}
.bg-brand{
  background-color: #00DBC3;
}

.text-brand-2{
  color: #525252;
}
.bg-brand-2{
  background-color: #525252;
}

.brand-heading{
  text-align: center;
}

.brand-heading span{
  border-bottom: 3px solid #00DBC3;
  display: inline-block;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.btn-brand{
  border: none;
  background-color: #00DBC3;
  color: #fff;
  padding: 10px 35px;
  border-radius: 30px;
}

.btn-brand:active{
  background-color: #00ffe1;
}